@model IEnumerable<Categoria>

@{
    ViewData["Title"] = "Index";
}

@if (User.IsInRole("Empleado") || User.IsInRole("Administrador"))
{
    <p>
        <a asp-action="Create">Create</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
                @if (User.IsInRole("Empleado") || User.IsInRole("Administrador"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    </td>
                }
        </tr>
}
    </tbody>
</table>
